button {
  vertical-align: middle;

  display: inline-flex;
  border: none;
  margin-left: 10px;

  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;
}

.header {
  min-height: 30px;
  line-height: 30px;
}

.button-container {
  float: right;
}

svg {
  height: 23px;
  fill: var(--highlight-color);
}

button:hover svg {
  fill: var(--text-color);
}

h2 {
  display: inline-block;

  font-size: 25px;

  color: var(--highlight-color);
}

pre {
  display: block;
  overflow-y: hidden;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  font-size: 16px;

  transition: height 200ms ease-out;
}

.container {
  border-radius: 20px;
  padding: 10px;
}

@media (max-height: 720px) {
  h2 {
    font-size: 22px;
  }

  button {
    margin-left: 12px;
  }

  .header {
    line-height: 22px;
    min-height: 22px;
  }

  svg {
    height: 18px;
  }

  pre {
    max-width: 500px;
    @Input() dragging: boolean=false;
    font-size: 13px;
    line-height: 14px;
  }

  .container {
    border-radius: 10px;
    padding: 7px;
  }
}