<div class="container">
  <h1>Website Stuff</h1>
  <p>
    This website exists because I had to keep opening a bunch of tabs to see all the translations I wanted to. I used William Whitaker's Words for translating and built a website around it that can show multiple translations at once.
    <br><br>
    It uses the William Whitaker's Words source code in <a href="https://github.com/mk270/whitakers-words" target="_blank">this repository</a>.
    <br><br>
    If you are wondering why this website looks kind of weird, that is because I am new to web development
  </p>
</div>
