h1 {
  display: inline-block;
  padding-right: 20px;
  font-size: 35px;
  line-height: 40px;
  border-bottom: 2px solid var(--highlight-color);
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  /* max-width: 1000px; */
}

a {
  color: var(--highlight-color)
}

.container {
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 80vw;
  margin: auto;
  background-color: #3e3c42;
}