h1 {
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--highlight-color);

  font-size: 35px;
  line-height: 40px;

}

p {
  font-size: 18px;
}

a {
  color: var(--highlight-color)
}

.container {
  width: 80vw;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  background-color: #3e3c42;
}