.half-screen-container {
  vertical-align: top;
  text-align: center;
}

@media screen and (min-width: 1270px) {
  .half-screen-container {
    width: 50%;
    display: inline-block;
  }
}

h1 {
  /* display: inline-block; */
  margin: 20px 0px;
  /* text-align: center; */
}

.container {
  width: 100vw;
  margin-bottom: 50px;
}

@media (max-height: 720px) or (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
}