.half-screen-container {
  /* min-width: 610px; */
  text-align: center;
  /* display: block; */
  vertical-align: top;
}

@media screen and (min-width: 1270px) {
  .half-screen-container {
    width: 50%;
    display: inline-block;
  }
}

h1 {
  margin: 20px 0px;
}

.container {
  /* width: calc(100vw - 40px);
  margin-left: 20px; */
  margin-bottom: 50px;
}

@media (max-height: 720px) {
  h1 {
    font-size: 25px;
  }

  /* @media (min-width: 1100px) {
    .half-screen-container {
      width: 50%;
      display: inline-block;
    }
  } */
}