.half-screen-container {
  text-align: center;
  vertical-align: top;
}

@media screen and (min-width: 1270px) {
  .half-screen-container {
    width: 50%;
    display: inline-block;
  }
}

h1 {
  margin: 20px 0px;
}

.container {
  width: 100vw;
  margin-bottom: 50px;
}

@media (max-height: 720px) {
  h1 {
    font-size: 25px;
  }
}