h1 {
  display: inline-block;
  padding: 10px;

  font-size: 40px;
  font-weight: bolder;
}

div {
  display: block;
  overflow-y: hidden;
  width: 100vw;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;

  background-color: rgba(0, 0, 0, 0.1);
}

img {
  height: 70px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  float: right;
  /* margin-right: 40px; */
  margin-top: 15px;
  list-style: none;
  text-align: center;
  /* display: inline-block; */
  /* display: inline-block; */
  /* display: block; */
  margin-right: 30px;
}

sub {
  font-size: 20px;
}

@media (max-width: 950px) {
  ul {
    float: none;
  }

  h1 {
    display: block;
    text-align: center;
  }
}

li {
  /* height: 60px; */
  /* width: 100px; */
  margin: 10px 20px;
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
  box-sizing: border-box;
  transition: border-bottom 100ms;
  text-align: center;
  /* border-bottom: 3px solid rgba(204, 163, 228, 0); */
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}


li:hover {
  border-bottom: 2px solid var(--text-color);
}

.active {
  /* color: rgba(150, 100, 255, 1); */
  color: var(--highlight-color)
}

@media (max-height: 720px) or (max-width: 500px) {
  h1 {
    font-size: 30px;
  }

  ul {
    margin-top: 5px;
    margin-right: 0px;
  }

  li {
    margin: 5px 15px;
    font-size: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }

  li:hover {
    border-bottom: 2px solid var(--text-color);
  }
}