<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input (input)="check()" type="text" name="text" placeholder="{{translateTo == 'english' ? 'latin goes here' : 'english goes here'}}" [(ngModel)]="inputText">
  <button type="submit" [disabled]="invalidInput">Translate</button>
  <p *ngIf="invalidInput">only letters, spaces, and commas are allowed</p>
</form>

<div cdkDropList class="translation-container" (cdkDropListDropped)="drop($event)">
   <div class="translation" 
  [@growInOut]
  cdkDragBoundary=".half-screen-container"
  *ngFor="let translation of translations; let i = index;"
  (cdkDragStarted)="translator.showTranslationButtons = false"
  (cdkDragEnded)="translator.showTranslationButtons = true"
  cdkDrag>
    <app-translation [translation]="translation"(destroy)="destroyTranslation(i)" ></app-translation>
  </div>
</div>