input {
  font-size: 14px;
  margin: 5px;
  background-color: var(--text-color);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bolder;
}

button {
  /* font-size: 14px;
  padding: 2px;
  border-radius: 6px;
  border: none;
  background-color: var(--text-color); */
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
  /* background-color: #3e3c42;
  color: var(--text-color); */
  outline: none;
  border: none;
}

p {
  color: #BC3908;
}

/* 
button:active {
  background-color: #aaa;
} */

/* form {
  min-height: 60px;
} */

/* input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bolder;
} */

.translation-container {
  /* display: inline-block; */
  display: block;
}

.translation {
  width: 600px;
  max-width: 80vw;
  margin: auto;
  /* margin-bottom: 10px; */
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  /* background-color: rgb(41, 41, 46); */
  background-color: #3e3c42;
  box-sizing: border-box;
  border-radius: 20px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  /* overflow-y: hidden; */
  margin-top: 15px;
}

.cdk-drag-preview {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1), box-shadow 250ms;
  /* background-color: rgb(41, 41, 46); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.translation-container.cdk-drop-list-dragging .translation:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

@media screen and (max-height: 720px) {
  input {
    width: 120px;
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }

  .translation {
    width: 500px;
    border-radius: 15px;
  }
}