@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;

  --text-color: #F9F5FF;
  --highlight-color: #5FDD9D;



}

html {
  overflow-x: hidden;

  background-color: #28262C;
  color: var(--text-color);
}