<div class="container">
  <h1>Translation</h1>
  <p>
    Searches can use letters, commas, and spaces to translate one or many words.
    Search request with numbers or any other character will not be accepted.<br>
    Here are some examples of what works:<br>
  </p>
  <ul>
    <li>translate these words</li>
    <li>translate,these,words</li>
    <li>translate, these, words</li>
    <li>translate , these , words</li>
    <li>translate</li>
  </ul>
  <p>
    You can really just enter the words however you want and it (hopefully) shouldn't break.
  </p>
  <br>
  <h1>Other Stuff</h1>
  <p>
    The translation results show up in cards that can be dragged and dropped. The minus button on the top right of a card minimizes its translation. The x button removes the translation.
  </p>
</div>