<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input type="text" name="text" ngModel>
  <button type="submit">Translate</button>
</form>

<div cdkDropList class="translation-container" (cdkDropListDropped)="drop($event)">
   <div class="translation" 
  [@simpleFadeAnimation]="'in'"
  cdkDragBoundary=".translation-container"
  *ngFor="let translation of translations; let i = index;"
  cdkDrag>
    <app-translation [translation]="translation"(destroy)="destroyTranslation(i)" ></app-translation>
  </div>
</div>