input,
button {
  margin: 5px;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  transition: outline 200ms;
  outline: 2px solid rgba(150, 100, 255, 0);
}

input:focus {
  outline: 2px solid rgba(150, 100, 255, 1)
}

form {
  margin-bottom: 20px;
}

.translation-container {
  padding: 30px;
  display: inline-block;
}

.translation {
  width: 500px;
  margin: auto;
  text-align: left;
  padding: 15px 15px;
  background-color: #444;
  margin-top: 10px;
  box-sizing: border-box;
}

.cdk-drag-placeholder {
  opacity: 0;
}