input {
  font-size: 14px;
  margin: 5px;
  background-color: var(--text-color);
}

button {
  /* padding: 1px; */

  font-size: 14px;
  padding: 2px;
  border-radius: 8px;
  background-color: var(--text-color);
  cursor: pointer;
  border: none;
}

button:active {
  background-color: #aaa;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bolder;
}

.translation-container {
  /* display: inline-block; */
  display: block;
}

.translation {
  width: 600px;
  margin: auto;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  /* background-color: rgba(255, 255, 255, 0.08); */
  background-color: rgb(41, 41, 46);
  /* transition: background-color 100ms; */
  box-sizing: border-box;
  border-radius: 20px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0); */
  overflow-y: hidden;
  margin-top: 15px;
}

.cdk-drag-preview {
  background-color: #334;
  transition: background-color 100ms;
  box-shadow: 0px 0px 20px rgba(20, 20, 20, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1), background-color 200ms, box-shadow, 200ms;
  background-color: rgb(41, 41, 46);
}

.translation-container.cdk-drop-list-dragging .translation:not(.cdk-drag-placeholder) {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

@media screen and (max-height: 720px) {
  input {
    width: 120px;
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }

  .translation {
    width: 500px;
    border-radius: 15px;
  }
}