<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input type="text" name="text" placeholder="{{translateTo == 'english' ? 'latin goes here' : 'english goes here'}}" ngModel>
  <button type="submit">Translate</button>
</form>

<div cdkDropList class="translation-container" (cdkDropListDropped)="drop($event)">
   <div class="translation" 
  [@growInOut]
  cdkDragBoundary=".translation-container"
  *ngFor="let translation of translations; let i = index;"
  cdkDrag>
    <app-translation [disableAnimations]="disableAnimations" [translation]="translation"(destroy)="destroyTranslation(i)" ></app-translation>
  </div>
</div>