.half-screen-container {
  /* min-width: 610px; */
  text-align: center;
  display: block;
  vertical-align: top;
}

@media (min-width: 1270px) {
  .half-screen-container {
    width: 50%;
    display: inline-block;
  }
}

h1 {
  margin: 20px 0px;
}